.mainGrid{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.header{
    width: 100%; height: 10%;
    background-color: rgb(183,222,232);
    border-bottom: 5px solid rgb(56,93,138);
    /*text*/
    text-align: center;
    color: rgb(33,89,104);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1px 1px black;
}

.body{
    width: 100%; height: 90%;
}

.headerText{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: rgb(33,89,104);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1px 1px black;
}

/* main.height + menubox.height = 100 */
.main{
    width: 85%; 
    height: 100%; 
    float: left; 
    background-color: rgb(235,241,222);
}

.menu{
    width: 14.5%; 
    height: 100%; 
    float: left; 
    background-color: rgb(219,238,244);
    border-right: 0.5vw solid rgb(56,93,138);
}

.menuBox{
    top:0;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 0;
    border-bottom: 5px solid rgb(56,93,138);
    background-color: rgb(198,217,241);
    font-size: 1.2em;
    color: black;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
}

.menuTittle{
    top:0;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 0;
    border-bottom: 5px solid rgb(56,93,138);
    background-color: rgb(198,217,241);
    font-size: 1.2em;
    color: black;
    font-family: sans-serif;
    text-align: center;
}

.menuLinkBox{
    width: 99%;
    border: 1px solid black;
    margin-bottom: 5px;
    background-color: rgb(198,217,241);
    font-size: 1.0em;
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 0px;
}

a.currentPage:link {color: black; text-decoration: none;}
a.currentPage:visited {color: black; text-decoration: none;}
a.currentPage:hover {text-decoration: underline;}

a.otherPage:link {color: rgb(160, 158, 158); text-decoration: none;}
a.otherPage:visited {color: rgb(160, 158, 158); text-decoration: none;}
a.otherPage:hover {text-decoration: underline;}

.mainAreaGrid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header header"
        "menu   main   main   main   main" ;
    column-gap: 0;
    row-gap: 0;
    justify-items: stretch;
    justify-content: stretch;
}

.titleBox{
    margin-top: 1 solid rgb(56,93,138);
    align-self: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(198,217,241);
    font-size: 1.2em;
    color: black;
    font-family: sans-serif;
    text-align: center;
}

/* CSS for subPages */

.mainTitleBox{
    /*Caja*/
    align-self: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(198,217,241);
    border: 3px solid rgb(120, 147, 180);   
    overflow: auto;

    /*Texto*/
    font-size: 1.2em;
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

.blueMessage, .greenMessage, .yellowMessage, .redMessage, .validation {
    background-repeat: no-repeat;
    background-position: 10px center;
    border: 1px solid;
    position:fixed;
    z-index: 1000;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 2em;
    font-weight: bold;
    padding: 1em;
    padding-left: 3em;
    -moz-animation: fade-out 10s;
    /* Firefox */
    -webkit-animation: fade-out 10s;
    /* Safari and Chrome */
    -o-animation: fade-out 10s;
    /* Opera */
    animation: fade-out 10s;
    animation-fill-mode: forwards;
    width: auto;
    height: auto;
}

.blueMessage{
    color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../imgs/info.png');
}

.greenMessage{
    color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../imgs/success.png');
}

.yellowMessage{
    color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../imgs/warning.png');
}

.redMessage{
    color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../imgs/error.png');
}

@keyframes fade-out {
    0%   { 
        opacity: 1;
        width: auto;
        height: auto;
        padding: 1em;
        padding-left: 3em;
    }
    50%   { 
        opacity: 1;
        width: auto;
        height: auto;
        padding: 1em;
        padding-left: 3em;
    }
    99%  { 
        opacity: 0.001;
        width: auto;
        height: auto;
        padding: 1em;
        padding-left: 3em;
    }
    100% { opacity: 0;width: 0; height: 0; padding: 0;  visibility: hidden;}
} 

@-webkit-keyframes fade-out {
    0%   { 
        opacity: 1;
        width: 10em;
        min-height: 3em;
        max-height: 7em;
        padding: 1em;
        padding-left: 3em;
    }
    50%   { 
        opacity: 1;
        width: 10em;
        min-height: 3em;
        max-height: 7em;
        padding: 1em;
        padding-left: 3em;
    }
    99%  { 
        opacity: 0.001;
        width: 10em;
        min-height: 3em;
        max-height: 7em;
        padding: 1em;
        padding-left: 3em;
    }
    100% { opacity: 0;width: 0; height: 0; padding: 0;  visibility: hidden;}
} 
.mainTitleBoxDark{
    /*Caja*/
    align-self: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 0.5%;
    background-color: #215968;
    border: 3px solid rgb(120, 147, 180);   
    overflow: auto;

    /*Texto*/
    font-size: 1.2em;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
