{% extends 'gridTemplate.html' %}

{% block menu %}

{% endblock %}

{% block main %}
<div style="margin-top: 2%; margin-left: 10%; margin-right: 10%">
    <div class="mainTitleBox">
        Datos personales del productor
    </div>


    <div class="genericContainerBox2" style="margin-top: 0.5em; overflow: auto;">

        <div style="display: flex;margin-right: 20%">

                <div style="width: 100%; display: flex; flex-direction:column; margin-left: 5px;">
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;text-align: center;">campo1</div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e1 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e2 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e3 </div>
                </div>

                <div style="width: 100%; display: flex; flex-direction:column; margin-left: 5px;">
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;text-align: center;">campo2</div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e1 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e2 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e3 </div>
                </div>

                <div style="width: 100%; display: flex; flex-direction:column; margin-left: 5px;">
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;text-align: center;">campo2</div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e1 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e2 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e3 </div>
                </div>

                <div style="width: 100%; display: flex; flex-direction:column; margin-left: 5px;">
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;text-align: center;">campo2</div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e1 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e2 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e3 </div>
                </div>

                <div style="width: 100%; display: flex; flex-direction:column; margin-left: 5px;">
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;text-align: center;">campo2</div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e1 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e2 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e3 </div>
                </div>

                <div style="width: 100%; display: flex; flex-direction:column; margin-left: 5px;">
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;text-align: center;">campo2</div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e1 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e2 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e3 </div>
                </div>

                <div style="width: 100%; display: flex; flex-direction:column; margin-left: 5px;">
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;text-align: center;">campo2</div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e1 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e2 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e3 </div>
                </div>

                <div style="width: 100%; display: flex; flex-direction:column; margin-left: 5px;">
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;text-align: center;">campo2</div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e1 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e2 </div>
                    <div class="itemBox2" style="margin-top: 0.5em; margin-left: 0.5em;"> e3 </div>
                </div>

                

        </div>        
    </div>
    
    <!-- Write your comments here 
    <div class="tableContainerDetails">
        <div class="columnsContainerDetails">
            <p class="tittleDetails" style="width: 200px;">Cédula:<p>
            <div style="float: left;">bbbbbbbb</div>
            <div style="float: left;">bbbbbbbb</div>
        </div>
        <div class="columnsContainerDetails">
            <div style="float: left;">cccccccc</div>
            <div style="float: left;">cccccccc</div>
        </div>
        <div class="columnsContainerDetails">ccccccc</div>
        <div class="columnsContainerDetails">ddddddd</div>
        <div class="columnsContainerDetails">eeeeeee</div>
        <div class="columnsContainerDetails">fffffff</div>
        <div class="columnsContainerDetails">bbbbbbb</div>
        <div class="columnsContainerDetails">ccccccc</div>
        <div class="columnsContainerDetails">ddddddd</div>
        <div class="columnsContainerDetails">eeeeeee</div>
        <div class="columnsContainerDetails">fffffff</div>
        <div class="columnsContainerDetails">bbbbbbb</div>
        <div class="columnsContainerDetails">ccccccc</div>
        <div class="columnsContainerDetails">ddddddd</div>
        <div class="columnsContainerDetails">eeeeeee</div>
        <div class="columnsContainerDetails">fffffff</div>
        <div class="columnsContainerDetails">bbbbbbb</div>
        <div class="columnsContainerDetails">ccccccc</div>
        <div class="columnsContainerDetails">ddddddd</div>
        <div class="columnsContainerDetails">eeeeeee</div>
        <div class="columnsContainerDetails">fffffff</div>
    </div>


    <form action="/login" method="POST">
        <div class="mainLoginBox">
            <div class="mainLabelBox">
                <label for="login" style="float: right;">Login:</label>
            </div>
            <div class="mainTextBox">
                <input type="text" class="mainInput" id="login" name="login">
            </div>
            
            <div class="mainLabelBox">
                <label for="login" style="float: right;">Password:</label>
            </div>
            <div class="mainTextBox">
                <input type="password" class="mainInput" id="password" name="password"><br>
            </div>
            
            <input type="checkbox" class="mainCheckbox" id="changePassword" name="changePassword">
            <label for="changePassword">Cambiar Password</label>
        </div>
        <div style="align-self: center; text-align: center;">
            <input type="submit" class="mainSubmit" value="Enviar">
            <input type="submit" class="mainSubmit" value="Vaciar">
        </div>
    </form>

    --> 
</div>
{% endblock %}