{% macro render_field(field) %}

    {% if field.errors %}
        <fieldset style="border: 3px solid rgb(236, 43, 82);">
            <legend>
                <div style="
                    border-radius: 5px; 
                    background-color: white; 
                    padding: 0.2em; 
                    padding-left: 0.4em; 
                    padding-right: 0.4em;
                    "
                >
                {{ field.label }}
                </div>
            </legend>
            {% set val = field.errors | first %}
            {{ field(value="",placeholder=val,**kwargs)|safe }}
      
        </fieldset>
    {% else %}
        <fieldset style="border: 3px solid rgb(56,93,138);">
            <legend>
                <div style="
                    border-radius: 5px; 
                    background-color: white; 
                    padding: 0.2em; 
                    padding-left: 0.4em; 
                    padding-right: 0.4em;
                    "
                >
                {{ field.label }}
                </div>
            </legend>
            {{ field(**kwargs)|safe }}
        </fieldset>
    {% endif %}
{% endmacro %}

{% macro render_form(title,fields) %}

<fieldset style="
    background-color: rgb(183,222,232);
    border-radius: 10px;
    border: 3px solid rgb(56,93,138);
    "
>
    
        <div style="display: flex;align-content: center; align-items: center; width: 100%;" >
            <div style="width: 100%;"></div>
            <h2 class="itemBox" style="
                font-size: 2em;
                font-weight: bold;
                text-align: center;
                font-family: monospace;"
            >
                {{title}}
            </h2>
            <div style="width: 100%;"></div>
        </div>

    <form method=post>
        {% for (field,classes) in fields %}
            {% if field.errors %}
                {{render_field(field,class="field error",)}}
            {% else %}
                {{render_field(field,class=classes)}}
            {% endif %}
            
            <br/>
        {% endfor %}

        <button class="send" name="submit" value="SEND">
            <span>Enviar</span>
        </button>

    </form>  

</fieldset>

{% endmacro %}


{% macro render_mfield(field,name,item) %}
    {% if field['modifiable'] == True %}
        {% if field['valueType'] == str %}
        {{ field(value=item[name],**kwargs)|safe }}
        {% endif %}
    {% else %}
        <h1>NOT MODIFIABLE</h1>
    {% endif %}
{% endmacro %}