<div class="mainGrid">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if message %}
                <div class="{{ category }}">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endwith %}

    <div style="width: 100vw; height: 100vh;">
        <div  class="header">
            SISTEMA AUTOMATIZADO DE APOYO A LA <br>GESTION DE RECOLECCION DE COSECHAS DE CACAO
        </div>
    
        <div class="body" style="display:flex; ">
            <div class="menu">
                <h1 class="menuTittle">Menu</h1>
                {% block menu %}

                {% endblock %}
            </div>

            <div class="main">
                {% block main %}

                {% endblock %}
            </div>
        </div>
        
    </div>
        
</div>