<div class="mainGrid">
    <div style="width: 100%; height: 100%;">
        <div  class="header">
            SISTEMA AUTOMATIZADO DE APOYO A LA <br>GESTION DE RECOLECCION DE COSECHAS DE CACAO
        </div>
    
        <div class="body" style="display:flex ;">
            <div class="menu">
                <h1 class="menuTittle">Menu</h1>
                {% block menu %}

                {% endblock %}
            </div>

            <div class="main">
                {% block main %}

                {% endblock %}
            </div>
        </div>
        
    </div>
        
</div>