{% extends 'gridTemplate.html' %}

{% block menu %}

{% endblock %}

{% block main %}
<div style="margin-top: 2%; margin-left: 10%; margin-right: 10%">
    <div class="mainTitleBox">
        Control de Acceso
    </div>
    <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="mainLoginBox">
            <div class="mainLabelBox">
                <label for="login" style="float: right;">Login:</label>
            </div>
            <div class="mainTextBox">
                <input type="text" class="mainInput" id="login" name="login">
            </div>
            
            <div class="mainLabelBox">
                <label for="login" style="float: right;">Password:</label>
            </div>
            <div class="mainTextBox">
                <input type="password" class="mainInput" id="password" name="password"><br>
            </div>
            
            <input type="checkbox" class="mainCheckbox" id="changePassword" name="changePassword">
            <label for="changePassword">Cambiar Password</label>
        </div>
        <div style="align-self: center; text-align: center;">
            <input type="submit" class="mainSubmit" value="Enviar">
            <input type="submit" class="mainSubmit" value="Vaciar">
        </div>
    </form>
</div>
{% endblock %}