{% extends 'gridTemplate.html' %}

{% block menu %}

{% endblock %}

{% block main %}
<form>
    <div class="titleBox" style="border-radius: 5px; margin: 5px rgb(56,93,138);">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="checkbox" id="changePassword" name="changePassword">
        <label for="changePassword">Cambiar Password</label>
    </div>
    <div style="align-self: center;">
        <input type="submit" value="Enviar">
        <input type="submit" value="Vaciar">
    </div>
</form>
{% endblock %}